//This is for absolute import
{
    "presets": ["@babel/preset-env"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"]
            }
        ]
    ]
}
